<div class="container-fluid">
    <h1>About FEDU</h1>
    <br/><br/>
    <h4>What's fedu?</h4>
    <p></p>
    <br/><br/>
    <h4>The Team behind fedu</h4>
    <p>
        Core Developer: Martin Kolb, Mathias Maier<br/>
        Consultant: Michael Klein<br/>
        Logo and CI-Design: Katja Weinmüller (Special Thanks!!) <br/>
    </p>
    <br/><br/>
    <h4>The Idea</h4>
    <p>
        The idea for fedu was born by us, three students of Interactive Media in Augbsurg, Germany.<br/>
        Two of us (Martin and Mathias), started fedu as their Bachelor-Thesis in November 2012.<br/>
        Many long weeks of programming and discussing and more programming, we launched fedu in July 2013.
    </p>
</div>
