<div class="container-fluid about">
    <h1>About FEDU</h1>
    <br/><br/>
    <div class="row-fluid">
        <div class="span8">
            <h4>What's fedu?</h4>
            <p>
                fedu is a further education webapp. It's for Developers and  Designers, who want to learn something new.<br/> But fedu dont provide tutorial videos, there are plenty of others for this purpouse.<br/>
                Our goal is to provide a webapp where people can watch e.g. in groups and discuss the subject later.<br/>
                Just like your visiting a conference, but without the traveling.
            </p>
            <br/><br/>
            <h4>The Idea</h4>
            <p>
                The idea for fedu was born by us, three students of Interactive Media in Augbsurg, Germany.<br/>
                Two of us (Martin and Mathias), started fedu as their Bachelor-Thesis in November 2012.<br/>
                Many long weeks of programming and discussing and more programming, we launched fedu in July 2013.
            </p>
            <div class="dml_video span12">
                <iframe src="http://player.vimeo.com/video/69954654?title=0&amp;byline=0&amp;portrait=0&amp;color=00ac9c" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <p>Sorry, for all non-german-speaking people, But we're not that good in the english language to make such a video :(</p>
            </div>
            <br/><br/>
            <h4>The Team behind fedu</h4>
            <p>
                Core Developers / Conecpt: Martin Kolb (<a href="https://twitter.com/kolb_martin" target="_blank">@kolb_martin</a>), Mathias Maier (<a href="https://twitter.com/MathiasTim" target="_blank">@MathiasTim</a>)<br/>
                Consultant: Michael Klein (<a href="http://twitter.com/monbro" target="_blank">@monbro</a>)<br/>
                Logo and CI-Design: <a href="mailto:contact@katjaweinmueller.de">Katja Weinmüller</a><br/>
                About-Fedu-Video: <a href="http://schnee-ist-cool.de" target="_blank">Phillippe Steinmayr</a>
            </p>
        </div>
        <div class="span4">
            <img src="../../images/logo_fedu_big.png" alt="logo fedu">
        </div>
    </div>
</div>
