<div class="container-fluid about">
    <h1>About FEDU</h1>
    <br/><br/>
    <div class="row-fluid">
        <div class="span8">
            <h4>What's fedu?</h4>
            <p>
                fedu is a further education webapp. It's for Developers and  Designers, who want to learn something new.<br/> But fedu dont provide tutorial videos, there are plenty of others for this purpouse.<br/>
                Our goal is to provide a webapp where people can watch e.g. in groups and discuss the subject later.<br/>
                Just like your visiting a conference, but without the traveling.
            </p>
            <br/><br/>
            <h4>The Idea</h4>
            <p>
                The idea for fedu was born by us, three students of Interactive Media in Augbsurg, Germany.<br/>
                Two of us (Martin and Mathias), started fedu as their Bachelor-Thesis in November 2012.<br/>
                Many long weeks of programming and discussing and more programming, we launched fedu in July 2013.
            </p>
            <br/><br/>
            <h4>The Team behind fedu</h4>
            <p>
                Core Developers / Conecpt: Martin Kolb, Mathias Maier<br/>
                Consultant: Michael Klein<br/>
                Logo and CI-Design: Katja Weinmüller (Special Thanks!!) <br/>
            </p>
        </div>
        <div class="span4">
            <img src="../../images/logo_fedu_big.png" alt="logo fedu">
        </div>
    </div>
</div>
