<div class="container-fluid contact">
    <h1>Contact</h1>
    <br/>
    <div class="row-fluid">
        <div class="span8">
            <p>
                <b>Send us a Tweet <a href="https://twitter.com/getfedu" target="_blank">@getfedu</a></b><br/>
                <b>Or write us an E-Mail <a href="mailto:hello@getfedu.com" target="_blank">hello@getfedu.com</a></b><br/><br/>
                More information about fedu and the team is on the <a href="#about">about page</a>
            </p>
        </div>
    </div>
</div>
