@font-face {
    font-family: 'sf_arborcrest_light';
    src: url('fonts/sf_arborcrest_light-webfont.eot');
    src: url('fonts/sf_arborcrest_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sf_arborcrest_light-webfont.woff') format('woff'),
         url('fonts/sf_arborcrest_light-webfont.ttf') format('truetype'),
         url('fonts/sf_arborcrest_light-webfont.svg#sf_arborcrest_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_arborcrest_medium';
    src: url('fonts/sf_arborcrest_medium-webfont.eot');
    src: url('fonts/sf_arborcrest_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sf_arborcrest_medium-webfont.woff') format('woff'),
         url('fonts/sf_arborcrest_medium-webfont.ttf') format('truetype'),
         url('fonts/sf_arborcrest_medium-webfont.svg#sf_arborcrest_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}