/******************************************************************
Site Name: fedu
Author: Martin Kolb & Mathias Maier

Stylesheet: Main Stylesheet

******************************************************************/


//
// IMPORTING STYLES
//

@import "fonts";
$sansFontFamily: "sf_arborcrest_medium", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$linkColor: #00ac9c;
@import "sass-bootstrap/lib/bootstrap";
@import "sass-bootstrap/lib/responsive";
@import "compass/css3";
@import "sticky_footer";
$fontAwesomePath: "../components/font-awesome/font";
@import "../components/font-awesome/sass/font-awesome.scss";

/* Sticky footer styles -------------------------------------------------- */

html, body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* General -------------------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.label-inverse {
    &:hover {
        background-color: lighten(#333333, 20%);
    }
    &.speaker {
        background-color: white;
        border: 1px solid black;
        a {
            color:black!important;
            text-shadow: none;
        }
        &:hover {
            background-color: lighten(#333333, 40%);
        }
    }
}

#wrap {
    #main {
        width: 100%;
        margin-bottom: 50px;
        > .container {

        }
        .brand {
            height: 40px;
            margin: 10px 20px;
            padding: 0;
            color: #034f4f;
            &:hover {
                text-decoration: none;
            }
            img {
                height: 100%;
                padding: 0 10px 0 0;
            }
            .logo_text {
                padding: 0 0 0 10px;
                font-size: 16px;
                color: #00ac9c;
            }
        }
        .btn-navbar, .nav-collapse {
            margin-top: 15px;
        }
        #message {
            text-align: center;
            position: fixed;
            top: 45px;
            width: 70%;
            left: 15%;
            z-index: 999999;
        }
        .breadcrumb_container {
            padding-top: 70px;
            p {
                height: 20px;
            }
        }
        #popular_tags {
            a {
                color: white;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        #surprise_me {
            b {
                margin: 0 0 10px 0;
                display: block;
            }
            .control-group {
                margin-bottom: 10px;
                .control-label {
                    width: 30%;
                    text-align: left;
                }
                .minutes_label {
                    width: 50%;
                }
                .controls {
                    margin-left: 30%;
                    select {
                        width: 100%;
                    }
                }
                .minutes_controls {
                    margin-left: 50%;
                }
            }
            #submit {
                float: right;
            }
        }
    }
}
#footer {
    background-color: $grayLighter;
    .span3 {
        padding: 10px;
    }
}

/* Detailpage -------------------------------------------------- */

.detail_view {
    h1 {
        margin: 0 0 10px 0;
    }
    .video_container {
        iframe {
            width: 100%;
        }
    }
    .tags {
        list-style: none;
        margin: 5px 0 10px 0;
        float: left;
        ul {
            margin: 0;
            li {
                display: inline-block;
                margin: 0 5px 0 0;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
    .date {
        line-height: 30px;
        font-weight: bold;
    }
    #btn_pull_request {
        float: right;
    }
    .info_container {
        #favorite {
            text-align: center;
        }
        .rating {
            cursor: pointer;
            text-align: center;
            h3 {
                margin-top: 0;
            }
            &:hover{
                @include box-shadow(inset 0 0px 1px rgba(0, 0, 0, 0.9));
            }
        }
    }
    .additional {
        p {
            font-family: "sf_arborcrest_medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    }

    #flag_post, #pull_request, #rate_post{
        padding: 0;
        margin: 0;
    }

    #rating_modal{
        .rating_scale{
            margin: 0;
            display: inline-block;
            cursor: pointer;
        }
    }
}

.over_view {
    .search-query {
        min-width: 80%;
    }
    .search_hint {
        position: relative;
        cursor: pointer;
        .icon-question-sign {
            position: absolute;
            font-size: 14px;
            left: -20px;
            line-height: 30px;
            color: $grayLight;
            z-index: 2;
        }
    }
    .popover {
        min-width: 20em;
        .icon-remove {
            position: absolute;
            right: 10px;
            cursor: pointer;
        }
    }
    #all_videos {
        margin: 0;
    }
    .grid_video_item {
        list-style: none;
        float: left;
        overflow: hidden;
        height: 17em;
        margin-bottom: 2.5641%;
        a {
            height: 100%;
            text-decoration: none;
        }
        .img {
            height: 12em;
            @include background-size(cover);
        }
        h4 {
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 20px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
            padding: 0 0 0 2%;
        }
        &:nth-child(3n+4){
            margin-left: 0;
        }
    }

    .info_video_item {
        list-style: none;
        width: 100%;
        height: 14em;
        margin: 0 0 1% 0;
        padding: 1%;

        &.favorites_view{
            .left{

                .img_overlay{
                    text-align: center;
                    font-weight: bold;
                    font-size: 18px;
                    padding-top:80px;
                    height: 182px;
                    width: 100%;
                    z-index: 3;
                    position: absolute;
                    background-color: white;
                    @include opacity(0.9);

                    &:hover{
                        cursor: pointer;
                        @include opacity(0.95);
                    }
                }
            }
        }


        a {
            text-decoration: none;
        }
        .left {
            overflow: hidden;
            float: left;
            width: 30%;
            position: relative;
            padding: 0 2% 0 0;
            .img {
                height: 13em;
                @include background-size(cover);
            }
        }
        .right {
            float: left;
            width: 70%;
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 20px;
                max-height: 100px;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
            ul {
                margin: 0;
                li {
                    list-style: none;
                    display: inline-block;
                    margin: 0 1% 0 0;
                }
            }
            .label {
                a {
                    color: white;
                }
            }
            .date {
                float: right;
            }
        }
    }

    .player_video_item {
        list-style: none;
        margin: 0 0 2% 0;
        padding: 1% 0 2% 0;
        width: 100%;
        height: 28em;
        .left {
            float: left;
            width: 20%;
            padding: 0 1em 0 0;
            a {
                text-decoration: none;
            }
            h4 {
                font-weight: normal;
            }
            ul {
                margin: 0;
                li {
                    list-style: none;
                    margin: 0 1% 0 0;
                }
            }
            .label {
                a {
                    color: white;
                }
            }
        }
        .right {
            float: left;
            width: 80%;
            position: relative;
            cursor: pointer;
            .img {
                height: 28em;
                @include background-size(cover);
            }
            iframe {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                display: none;
            }
            &.no_player {
                &:after {
                    content: "";
                    font-family: "FontAwesome";
                    font-size: 700%;
                    color: white;
                    position: absolute;
                    top: 45%;
                    left: 45%;
                    @include text-shadow(black 0px 0px 10px);
                }
                &:hover {
                    &:after {
                        color: black;
                        @include text-shadow(white 0px 0px 10px);
                    }
                }
            }
        }
    }
}

.login_wrapper{
    display:none;
}

.about {
    .dml_video {
        margin: 0 0 30px 0;
        iframe {
            width: 100%;
            min-height: 414px;
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    #favorite {
        margin-bottom: 10px;
    }
    iframe {
        max-height: 250px;
    }
    .about {
        .dml_video {
            iframe {
                width: 100%;
                min-height: 200px;
                max-height: 250px;
            }
        }
    }
}