/******************************************************************
Site Name: fedu
Author: Martin Kolb & Mathias Maier

Stylesheet: Main Stylesheet

******************************************************************/


//
// IMPORTING STYLES
//

@import "sass-bootstrap/lib/bootstrap";
@import "sass-bootstrap/lib/responsive";
@import "compass/css3";
@import "sticky_footer";
$fontAwesomePath: "../components/font-awesome/font";
@import "../components/font-awesome/sass/font-awesome.scss";

/* Sticky footer styles -------------------------------------------------- */

html, body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* General -------------------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

#wrap {
    #main {
        width: 100%;
        margin-bottom: 50px;
        > .container {
            padding-top: 60px;
        }
    }
}
#footer {
    background-color: $grayLighter;
    .span3 {
        padding: 10px;
    }
}

/* Detailpage -------------------------------------------------- */

.detail_view {
    .video_container {
        iframe {
            width: 100%;
            height: 75%;
        }
    }
    .info_container {
        .rating {
            text-align: center;
        }
        .meta, .additional {
            background-color: $grayLighter;
            padding: 10px;
        }
    }
}

.over_view {
    #all_videos {
        margin: 0;
    }
    .grid_video_item {
        list-style: none;
        width: 30%;
        float: left;
        margin: 0 1% 1% 0;
        height: 18em;
        overflow: hidden;
        img {
            width: 100%;
            height: 65%;
        }
    }

    .info_video_item {
        list-style: none;
        width: 100%;
        height: 18em;
        .left {
            float: left;
            width: 30%;
            padding: 0 2% 0 0;
            img {
                width: 100%;
                height: 80%;
            }
        }
        .right {
            float: left;
            width: 70%;
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 20px;
                max-height: 100px;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
        }
    }

    .player_video_item {
        list-style: none;
        margin: 0 0 2em 0;
        width: 100%;
        height: 30em;
        .left {
            float: left;
            width: 20%;
            padding: 0 1em 0 0;
            h4 {
                font-weight: normal;
            }
        }
        .right {
            float: left;
            width: 80%;
            position: relative;
            cursor: pointer;
            img {
                width: 100%;
                height: 90%;
            }
            iframe {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                display: none;
            }
            &.no_player {
                &:after {
                    content: "";
                    font-family: "FontAwesome";
                    font-size: 700%;
                    color: white;
                    position: absolute;
                    top: 45%;
                    left: 45%;
                    @include text-shadow(black 0px 0px 10px);
                }
                &:hover {
                    &:after {
                        color: black;
                        @include text-shadow(white 0px 0px 10px);
                    }
                }
            }
        }
    }
}