<div class="container login_form">
    <div class="row-fluid">
        <div class="span4 offset4 well">
            <legend>Set new Password</legend>
            <div id="login_message"></div>
            <form method="POST" action="" accept-charset="UTF-8" id="create_new_password">
                <input type="password" id="password" class="span12" name="password" id="password" placeholder="Password">
                <label class="checkbox">
                    <input type="checkbox" id="hash" checked> Hide Password
                </label>
                <input type="hidden" name="code" value="<%= code %>"/>
                <button type="submit" name="submit" class="btn btn-info btn-block">Send</button>
            </form>
        </div>
    </div>
</div>