<div class="container login_form">
    <div class="row-fluid">
        <div class="span4 offset4 well">
            <legend>Recover Your Password</legend>
            <div id="login_message"></div>
            <form method="POST" action="" accept-charset="UTF-8" id="recover_password">
                <input type="email" id="username" class="span12" name="username" placeholder="Email" autofocus required>
                <button type="submit" name="submit" class="btn btn-info btn-block">Recover Password</button>
            </form>
        </div>
    </div>
</div>