<div class="container login_form">
    <div class="row-fluid">
        <div class="span4 offset4 well">
            <legend>Please Sign Up</legend>
            <div id="login_message"></div>
            <form method="POST" action="" accept-charset="UTF-8" id="register">
                <input type="text" id="username" class="span12" name="username" placeholder="Email">
                <input type="password" id="password" class="span12" name="password" placeholder="Password">
                <label class="checkbox">
                    <input type="checkbox" id="hash" checked> Hide Password
                </label>
                <button type="submit" name="submit" class="btn btn-info btn-block">Sign in</button>
            </form>
            <a href="#login">you got an account? sign in here</a>
        </div>
    </div>
</div>