<div class="detail_view container-fluid">
	<div class="row-fluid">
		<h1><%=attributes.title %></h1>
		<div class="tags">
		    <ul>
		        <%
		            _.each(attributes.tags, function(value){
		            	var speaker = '';
		            	if(value.type === 'speaker'){ speaker = 'speaker'; }
		                print('<li><span class="label label-inverse tag ' + speaker + '"><a href="' + encodeURI('#search/[' + value.tagName + ']')  + '">' + value.tagName + '</a></span></li>');
		            });
		        %>
		    </ul>
		</div>
		<span class="date"> - uploaded <%=attributes.foreign.uploadDate %></span>
	</div>
	<div class="row-fluid">
		<div id="post_id" data-post-id="<%=attributes._id %>">
			<div class="video_container span10">
				<iframe width="1000" height="563" src="<%=attributes.foreign.embedUrl %>?portrait=0&byline=0&title=0&showinfo=0&theme=light" frameborder="0" allowfullscreen></iframe>
				<p><%=attributes.description %></p>
				<div class="row-fluid">
					<div class="video_info well well-small span6">
						<b>Video Information:</b>
						<ul>
							<li><a href="<%= attributes.foreign.linkUrl%>" target="_blank">Link to <%= attributes.videoType %></a></li>
							<li>uploaded to <%= attributes.videoType %> on <b><%=attributes.foreign.uploadDate %></b></li>
							<li>added to fedu on <b><%=attributes.publishDate %></b></li>
							<li>Video duration is about <b><%= attributes.foreign.duration %></b> minutes</li>
						</ul>
					</div>
					<div class="additional well well-small span6 clearfix">
				        <b>Additional Information:</b>
	    	        	<% if(!attributes.additionalInfo.length){print('<p>Sorry, there is no additional information available.<br/> Be the first...</p>')} %>
			            <ul>
			    	        <%
			                    _.each(attributes.additionalInfo, function(value){
			                        print('<li class="list"><a href="' + encodeURI(value.pullRequestUrl)  + '" target="_blank">' + value.pullRequestTitle + '</a></li>');
			                    });
			                %>
			            </ul>
			            <button type="button" class="btn" id="btn_pull_request"><i class="icon-plus"></i> add content</button>
					</div>
				</div>
				<div class="row-fluid well well-small">
					<button type="button" id="favorite" class="btn span2"><%= iconStar %></button>
					<button type="button" class="btn span2 offset8" data-toggle="modal" data-target="#flag_modal" title="flag this video"><i class="icon-flag"></i> flag it</button>
				</div>
			</div>
			<div class="span2 info_container">
				<div class="rating well well-small <%= isRated %>" id="btn_rating">
					<h3><% if(attributes.rating){ print(attributes.rating.totalPoints.exact); } else { print(0); } %></h3>
					<span>
						<%
							if(attributes.rating){
								for(var i=0; i < attributes.rating.totalPoints.rounded; i++){
									print('<i class="icon-star"></i> ');
								}
								var emptyStars = 5 - attributes.rating.totalPoints.rounded;
								for(var i=0; i< emptyStars; i++){
									print('<i class="icon-star-empty"></i> ');
								}
								print('<p>rated by ' + attributes.rating.totalUsers + ' persons</p>');
							} else {
								print('not rated yet');
							}
						%>
					</span>
				</div>
			</div>
		</div>

		<!-- Modal flagging -->
		<div id="flag_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form id="flag_post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel"><i class="icon-flag"></i> Flag this post</h3>
				</div>
				<div class="modal-body">
					<p>You want to flag this post? Please select one reason.</p>
					<select name="description">
						<option>Audio and video stutter</option>
						<option>Video stutters, but audio is fine</option>
						<option>Audio and video arent´s synced</option>
						<option>Content is not legal</option>
					</select>
					<input type="hidden" name="flag-title" value="<%=attributes.title %>" />
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<input type="submit"  class="btn btn-primary flag_submit" value="flag it">
				</div>
			</form>
		</div>


		<!-- Modal pull request -->
		<div id="pull_request_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form id="pull_request">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel"><i class="icon-plus"></i>  Add content</h3>
				</div>
				<div class="modal-body">
					<p>You have additional infos? Please let us know!</p>
					<div class="well well-small">
						<h5>Please insert your link & title:</h5>
						<input type="text" name="title" class="span12" placeholder="Titel">
						<input type="text" name="url" class="span12" placeholder="Link to your additional source">
					</div>
					<input type="hidden" name="pull-title" value="<%=attributes.title %>" />
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<input type="submit"  class="btn btn-primary pull_request_submit" value="add content">
				</div>
			</form>
		</div>

		<!-- Modal pull request -->
		<div id="rating_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form id="rate_post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel"><i class="icon-star"></i> Rate this post</h3>
				</div>
				<div class="modal-body">
					<p>Please rate (you have to rate all):</p>
					<div class="well well-small">
						<h5>Video-Quality</h5>
						<ul class="rating_scale">
							<li class="icon-star-empty"></li>
							<li class="icon-star-empty"></li>
							<li class="icon-star-empty"></li>
							<li class="icon-star-empty"></li>
							<li class="icon-star-empty"></li>
						</ul>
						<input type="hidden" name="rating" value="0">

						<h5>Comprehensibility</h5>
						<ul class="rating_scale">
							<li class="icon-star-empty"></li>
							<li class="icon-star-empty"></li>
							<li class="icon-star-empty"></li>
							<li class="icon-star-empty"></li>
							<li class="icon-star-empty"></li>
						</ul>
						<input type="hidden" name="rating" value="0">

					</div>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<input type="submit"  class="btn btn-primary rate_submit" value="rate">
				</div>
			</form>
		</div>
	</div>
</div>