<div class="video_container span12">
	<iframe width="1000" height="563" src="<%=attributes.foreign.embedUrl %>" frameborder="0" allowfullscreen></iframe>
</div>
<div class="info_container row-fluid">
	<div class="rating span1">
		<h4>4.5</h4>
		<span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-half"></i></span>
	</div>
	<div class="right span11">
		<h1><%=attributes.title %></h1>
		<p><%=attributes.description %></p>
	</div>
	<div class="row-fluid">
		<div class="meta span4 offset1">
			META<br />
			ID: <%=attributes.videoId %>
		</div>
		<div class="additional span7">
			additionals info
		</div>
	</div>
</div>