<li class="info_video_item clearfix thumbnail <% if(favorites){ print('favorites_view');} %>">
        <div class="left">
            <% 
            if(favorites){ 
                print('<div class="img_overlay" data-id="' + attributes._id + '"><span><i class="icon-bookmark"></i> unsave</span></div>');
            }
            %>
            <a href="#detail-view-post/<%=attributes._id %>" target="_self">
                <div class="img" style="background-image:url(<%=attributes.foreign.thumbnail.large %>)"></div>
            </a>
        </div>
	    <div class="right">
            <a href="#detail-view-post/<%=attributes._id %>" target="_self">
	            <h4><%=attributes.title %></h4>
                <p><%=attributes.description %></p>
                <span class="date"><%=attributes.foreign.uploadDate %></span>
            </a>
            <ul>
                <%
                    _.each(attributes.tags, function(value){
                        var speaker = '';
                        if(value.type === 'speaker'){ speaker = 'speaker'; }
                        print('<li><span class="label label-inverse tag ' + speaker + '"><a href="' + encodeURI('#search/[' + value.tagName + ']')  + '">' + value.tagName + '</a></span></li>');
                    });
                %>
            </ul>
	    </div>

</li>