<li class="info_video_item clearfix">
        <div class="left">
	        <a href="#detail-view-post/<%=attributes._id %>" target="_self">
	            <img src="<%=attributes.foreign.thumbnail.medium %>" class="img-polaroid"/>
            </a>
        </div>
	    <div class="right">
            <a href="#detail-view-post/<%=attributes._id %>" target="_self">
	            <h4><%=attributes.title %></h4>
                <p><%=attributes.description %></p>
            </a>
            <ul>
    	        <%
                    _.each(attributes.tags, function(value){
                        print('<li><span class="label label-inverse">' + value + '</span></li>');
                    });
                %>
            </ul>
	    </div>

</li>