<li class="player_video_item clearfix">
    <div class="left">
        <a href="#detail-view-post/<%=attributes._id %>" target="_self">
            <h4><%=attributes.title %></h4>
            <p class="date"><%=attributes.foreign.uploadDate %></p>
        </a>
        <ul>
        <%
            _.each(attributes.tags, function(value){
                var speaker = '';
                if(value.type === 'speaker'){ speaker = 'speaker'; }
                print('<li><span class="label label-inverse tag ' + speaker +'"><a href="' + encodeURI('#search/[' + value.tagName + ']')  + '">' + value.tagName + '</a></span></li>');
            });
        %>
        </ul>
    </div>
    <div class="right video_container no_player" data-video="<%=attributes.foreign.embedUrl %>">
        <div class="img" style="background-image:url(<%=attributes.foreign.thumbnail.large %>)"></div>
    </div>
</li>