<form action="#" method="POST" id="surprise_me" class="form-horizontal">
	<b>Surprise Search</b>
	<div class="control-group">
		<label class="control-label minutes_label" for="inputPassword">Time (in minutes)</label>
		<div class="controls minutes_controls">
			<select name="minutes">
				<%= minutes %>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputPassword">Lesson</label>
		<div class="controls">
			<select name="lesson">
				<%= lessons %>
			</select>
		</div>
	</div>
	<input type="submit" id="submit" class="btn span4" value="go for it!" />
</form>