<div class="over_view container-fluid">
  <div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Popular</li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="nav-header">Categories</li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
      <!--Body content-->
        <header class="row-fluid">
            <form class="form-search span8" id="search">
                <div class="input-append span10 search_container">
                    <input type="text" class="span12 search-query" name="search-query">
                    <span class="search_hint">
                        <i class="icon-question-sign" data-title="search hints<i class='icon-remove'></i>" data-content="<b>[tag]</b> search for specific tag<br/><b>d:60</b> search for duration in minutes"></i>
                    </span>
                    <button type="submit" class="btn">Search</button>
                </div>
            </form>
            <div class="btn-group span4 text-right">
                <button class="btn type" data-type="grid"><i class="icon-th-large"></i></button>
                <button class="btn type" data-type="info"><i class="icon-list"></i></button>
                <button class="btn type" data-type="player"><i class="icon-th-list"></i></button>
            </div>
        </header>
        <ul id="all_videos" class="row-fluid">
            all videos rendered here
        </ul>
    </div>
  </div>
</div>