<div class="over_view container-fluid">
  <div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Popular Tags</li>
                <div id="popular_tags">
                </div>
            </ul>
        </div><!--/.well -->
        <div id="surprise_me"></div>
    </div><!--/span-->
    <div class="span9">
      <!--Body content-->
        <header class="row-fluid">
            <form class="form-search span8" id="search">
                <div class="input-append span10 search_container">
                    <input type="text" class="span12 search-query" name="search-query">
                    <span class="search_hint">
                        <i class="icon-question-sign"
                            data-title="search hints<i class='icon-remove'></i>"
                            data-content="<a href='#search/%5Bjavascript%5D'><b>[tag]</b></a> search for specific tag<br/>
                            <a href='#search/web%20d:45'><b>d:60</b></a> search for duration in minutes">
                        </i>
                    </span>
                    <button type="submit" class="btn">Search</button>
                </div>
            </form>
            <div class="btn-group span4 text-right" id="view_control_panel">
                <button class="btn type" data-type="grid"><i class="icon-th-large"></i></button>
                <button class="btn type" data-type="info"><i class="icon-list"></i></button>
                <button class="btn type" data-type="player"><i class="icon-th-list"></i></button>
            </div>
        </header>
        <ul id="all_videos" class="row-fluid">
            all videos rendered here
        </ul>
    </div>
  </div>
</div>