<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">fedu</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#about">About</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <ul class="nav pull-right notification_wrapper">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="username"></a>
                        <ul class="dropdown-menu nav-stacked" id="user_actions">
                            <li><a href="#" id="acc">Account(no use atm)</a></li>
                            <li><a href="#" id="logout">Logout</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications <span class="badge badge-important notification_counter">0</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu nav-stacked notifications">
                            <!-- notfications rendered here -->
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container-fluid page">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li><a href="#dashboard">Dashboard</a></li>
                    <li class="nav-header">Posts</li>
                    <li><a href="#list-posts">list Posts</a></li>
                    <li><a href="#add-post">add a Post</a></li>
                    <li><a href="#list-tags">list Tags</a></li>
                    <li><a href="#add-tag">add a Tag</a></li>
                    <li class="nav-header">Notifications</li>
                    <li><a href="#list-notifications">list Notifications</a></li>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            <div id="app-wrapper">
                <div id="message"></div>
                <div id="modal"></div>
                <div id="app"></div>
            </div>
        </div><!--/span-->
    </div><!--/row-->

    <footer>
        <p>&copy; Company 2013</p>
    </footer>

</div><!--/.fluid-container-->