/******************************************************************
Site Name: fedu
Author: Martin Kolb & Mathias Maier

Stylesheet: Main Stylesheet

******************************************************************/


//
// IMPORTING STYLES
//

@import "sass-bootstrap/lib/bootstrap";
@import "sass-bootstrap/lib/responsive";
@import "compass/css3";
$fontAwesomePath: "../components/font-awesome/font";
@import "../components/font-awesome/sass/font-awesome.scss";
@import "typeahead";

* {
    @include box-sizing(border-box);
}

.page {
    padding-top: 60px;
}

.tags {
    cursor: auto;
    width: 100%;
    margin-left: 0;
    height: 30px;
    padding: 3px 4px;
    overflow: visible;
    .tag {
        display: inline-block;
        @include border-radius(3px);
        margin: 0 5px 0 0;
        padding: 0 7px 0 7px;
        &:after {
            content: "";
            font-family: "FontAwesome";
            padding: 0 0 0 5px;
        }
    }
    input {
        padding: 0;
        margin: 0;
        border: none;
        box-shadow: none;
        &:focus {
            box-shadow: none;
        }
    }
}

.notification_wrapper{

    .notification_counter{
        display: none;
    }

    .notifications{
        .no_notifications{
            padding-left:15px;
        }

        .notification_item{
            &.latest{
                background-color:$grayLighter;
            }

            &.description{
                padding-left:20px;
                font-size: 0.9em;
            }

        }

    }

}