/******************************************************************
Site Name: fedu
Author: Martin Kolb & Mathias Maier

Stylesheet: Main Stylesheet

******************************************************************/


//
// IMPORTING STYLES
//

@import "sass-bootstrap/lib/bootstrap";
@import "sass-bootstrap/lib/responsive";
@import "compass/css3";

.page {
    padding-top: 60px;
}