/******************************************************************
Site Name: fedu
Author: Martin Kolb & Mathias Maier

Stylesheet: Main Stylesheet

******************************************************************/


//
// IMPORTING STYLES
//

@import "sass-bootstrap/lib/bootstrap";
@import "sass-bootstrap/lib/responsive";
@import "compass/css3";
$fontAwesomePath: "../components/font-awesome/font";
@import "../components/font-awesome/sass/font-awesome.scss";
@import "typeahead";

* {
    @include box-sizing(border-box);
}

.login_form {
    margin-top: 100px;
    text-align: center;
    .logo_container {
        img {
            height: 180px;
        }
    }
}

.page {
    padding-top: 60px;
}

.suggestions {
    display: none;
}

.tags {
    cursor: auto;
    width: 100%;
    margin-left: 0;
    height: 30px;
    padding: 3px 4px;
    overflow: visible;
    .tag {
        display: inline-block;
        @include border-radius(3px);
        margin: 0 5px 0 0;
        padding: 0 7px 0 7px;
        &:after {
            content: "";
            font-family: "FontAwesome";
            padding: 0 0 0 5px;
        }
    }
    input {
        padding: 0;
        margin: 0;
        border: none;
        box-shadow: none;
        &:focus {
            box-shadow: none;
        }
    }
    &.disabled {
        cursor: not-allowed;
        background-color: #eeeeee;
    }
}

#loader {
    display: none;
}

#notification_wrapper{
    #notification_counter{
        display: none;
    }
    #notifications{
        .no_notifications{
            padding:5px 10px 5px 15px;
        }
        .notification_item{
            border-bottom:1px dotted gray;
            min-width: 300px;
            &.latest{
                background-color:$grayLighter;
                border-left: 2px solid gray;
            }
            .description{
                font-size: 0.9em;
                display: block;
            }
            h6{
                color:$grayLight;
            }
        }
        .show_all{
            display: block;
            text-align: center;
            line-height: 20px;
            padding: 5px;
        }
    }
}

#edit_post{
    .additional_wrapper_item{
        margin-bottom:20px;
    }

}

.tags_pull_request {
    list-style: none;
    margin: 5px 0 10px 0;
    ul {
        margin: 0;
        li {
            display: inline-block;
            margin: 0 5px 0 0;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}