<form action="#" id="add_tag" method="POST" class="span7">
    <fieldset class="row-fluid">
        <legend>Add a Tag</legend>

        <label>Tag Name</label>
        <input type="text" name="tagName" class="span12" placeholder="enter the Title" autofocus required>

        <label>Description</label>
        <textarea rows="5" class="span12" name="description"></textarea>

        <label>Type</label>
        <select name="type">
            <%= type %>
        </select>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn cancel_tag">Cancel</button>
        </div>

    </fieldset>
</form>