<form action="#" id="add_post" method="POST" class="span7">
    <fieldset class="row-fluid">
        <legend>Add a Post</legend>

        <div class="controls controls-row">
            <label>Video Url</label>
            <input type="text" id="video_id" class="video_id span12" placeholder="enter video url" autofocus required>
            <input type="hidden" id="video_id_hidden" name="videoId">
            <input type="hidden" id="videoType" name="videoType">
        </div>
        <span class="help-block">Add an url of a Video from Youtube or Vimeo</span>
        <div id="loader" class="span1">
            <i class="icon-spinner icon-spin icon-large"></i>
        </div>
        <br/><br/>

        <label>Title</label>
        <input type="text" name="title" class="span12" placeholder="enter the Title" required disabled>

        <label>Description</label>
        <textarea rows="5" class="span12" name="description" required disabled></textarea>

        <label>Tags</label>
        <div class="tags uneditable-input disabled">
            <input type="text" class="typeahead" placeholder="enter some tags" data-provide="typeahead" autocomplete="off" disabled>
            <input type="hidden" name="tags">
        </div>
        <div class="well well-small suggestions">
            <small>Suggestions from Vimeo:</small><br/>

        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn cancel_post">Cancel</button>
        </div>

    </fieldset>
</form>