<form action="#" id="add_post" method="POST" class="span7">
    <fieldset class="row-fluid">
        <legend>Add a Post</legend>

        <div class="controls controls-row">
            <label>Video Id</label>
            <input type="text" name="videoId" class="video_id span6" placeholder="enter id" value="i_qE1iAmjFg">
            <select class="span4 video_type" name="videoType">
              <option value="youtube">youtube</option>
              <option value="vimeo">vimeo</option>
            </select>
            <button type="button" class="btn btn-primary span2 search_api"><i class="icon-search"></i></button>
        </div>
        <span class="help-block">Add an id of a Video from Youtube, Vimeo, etc..</span>
        <br/><br/>

        <label>Title</label>
        <input type="text" name="title" class="span12" placeholder="enter the Title">

        <label>Author/Speaker</label>
        <input type="text" name="userName" class="span12" placeholder="enter the Title">

        <label>Description</label>
        <textarea rows="5" class="span12" name="description"></textarea>

        <label>Tags</label>
        <div class="tags uneditable-input">
            <input type="text" class="typeahead" placeholder="enter some tags" data-provide="typeahead" autocomplete="off">
            <input type="hidden" name="tags">
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn cancel">Cancel</button>
        </div>

    </fieldset>
</form>