<form action="#" id="edit_post" method="POST" class="span7" data-id="<%= cid %>">
    <fieldset class="row-fluid">
        <legend>Edit the Post</legend>

        <label>Video Id</label>
        <input type="text" name="videoId" class="span12 disabled" placeholder="enter the Id" value="<%= attributes.videoId %>" disabled>

        <label>Title</label>
        <input type="text" name="title" class="span12" placeholder="enter the Title" value="<%= attributes.title %>">

        <label>Author/Speaker</label>
        <input type="text" name="userName" class="span12" placeholder="enter the Title" value="<%= attributes.userName %>">

        <label>Description</label>
        <textarea rows="5" class="span12" name="description"><%= attributes.description %></textarea>

        <label>Tags</label>
        <div class="tags uneditable-input">
            <input type="text" class="typeahead" placeholder="enter some tags" data-provide="typeahead" autocomplete="off">
            <input type="hidden" name="tags" value="<%= attributes.tags %>">
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <button type="button" class="btn cancel_post">Cancel</button>
        </div>
    </fieldset>
</form>