<form action="#" id="edit_post" method="POST" class="span7" data-id="<%= cid %>">
    <fieldset>
        <legend>Edit the Post</legend>
        <label>Title</label>
        <input type="text" name="title" class="input-xlarge" placeholder="enter the Title" value="<%= attributes.title %>">

        <label>Video Id</label>
        <input type="text" name="videoId" class="input-xxlarge" placeholder="enter the Id" value="<%= attributes.videoId %>">
        <span class="help-block">Add an id of a Video from Youtube, Vimeo, etc..</span>

        <label>Description</label>
        <textarea rows="5" class="input-xxlarge" name="description"><%= attributes.description %></textarea>

        <label class="checkbox">
            <input type="hidden" value="0" name="remeber">
            <input type="checkbox" value="1" name="remeber"> Remember me
        </label>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <button type="button" class="btn cancel">Cancel</button>
        </div>
    </fieldset>
</form>