<tr data-id="<%= attributes._id %>">
    <td><%= attributes.title %></td>
    <td><%= attributes.videoId %></td>
    <td><%= attributes.videoType %></td>
    <td>
        <%
            _.each(attributes.tags, function(value){
                print(value.tagName + ', ');
            });
        %>
    </td>
    <td><img src="<%= attributes.foreign.thumbnail.small %>" alt=""></td>
    <td>
        <button class="btn btn-primary edit_post" data-id="<%= cid %>"><i class="icon-edit"></i></button>
        <button class="btn btn-danger delete_post" data-id="<%= cid %>"><i class="icon-trash"></i></button>
    </td>
</tr>